<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-camera-heading" data-cy="CameraCreateUpdateHeading" jhiTranslate="pivestudoApp.camera.home.createOrEditLabel">
        Create or edit a Camera
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="pivestudoApp.camera.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let descricaoRef = editForm.get('descricao')!;
        <div class="mb-3">
          <label class="form-label" for="field_descricao" jhiTranslate="pivestudoApp.camera.descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
          @if (descricaoRef.invalid && (descricaoRef.dirty || descricaoRef.touched)) {
            <div>
              @if (editForm.get('descricao')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let enderecoRedeRef = editForm.get('enderecoRede')!;
        <div class="mb-3">
          <label class="form-label" for="field_enderecoRede" jhiTranslate="pivestudoApp.camera.enderecoRede">Endereco Rede</label>
          <input
            type="text"
            class="form-control"
            name="enderecoRede"
            id="field_enderecoRede"
            data-cy="enderecoRede"
            formControlName="enderecoRede"
          />
          @if (enderecoRedeRef.invalid && (enderecoRedeRef.dirty || enderecoRedeRef.touched)) {
            <div>
              @if (editForm.get('enderecoRede')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_api" jhiTranslate="pivestudoApp.camera.api">Api</label>
          <input type="text" class="form-control" name="api" id="field_api" data-cy="api" formControlName="api" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pontoAcesso" jhiTranslate="pivestudoApp.camera.pontoAcesso">Ponto Acesso</label>
          <select
            class="form-control"
            id="field_pontoAcesso"
            data-cy="pontoAcesso"
            name="pontoAcesso"
            formControlName="pontoAcesso"
            [compareWith]="comparePontoAcesso"
          >
            @if (editForm.get(['pontoAcesso'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (pontoAcessoOption of pontoAcessosSharedCollection; track $index) {
              <option [ngValue]="pontoAcessoOption">{{ pontoAcessoOption.descricao }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['pontoAcesso'])!.invalid && (editForm.get(['pontoAcesso'])!.dirty || editForm.get(['pontoAcesso'])!.touched)) {
          <div>
            @if (editForm.get(['pontoAcesso'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
